<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta charset="utf-8">
<title>LocoChat - Real-time geo-spatial chat at your fingertips</title>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700&v2' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic&v2' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="scripts/jquery/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="scripts/jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="scripts/jquery/jquery.simplemodal.min.js"></script>
<script type="text/javascript" src="scripts/models/forms-model.js"></script>

<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<script src="https://cdn.optimizely.com/js/1891008.js"></script>
<div class="l-main-container">
    <div class="l-wrapper">
        <section class="l-home-intro">
            <h1 class="b-page-name">
              LocoChat
            </h1>
            <p>Instant/real-time chat, relevant location-based content, dynamic chat experience... all in one place.</p>
            <p>
			
			<!--<img src="http://d2s28ygc2k7998.cloudfront.net/images/hero.png" width="924" height="444" alt="" class="img-intro" />-->
	
			</p>
            <div class="b-intro-trial">
                <h3></h3>
                <!--<input type="submit" class="button btn-plans plans-and-pricing" value="" />-->
                <!--<img src="images/text-find-more.png" width="205" height="41" alt="" />-->
            </div>
        </section>

        <div id="canvas-area">
         <canvas id="radar" width=0 height=0>
        </div>

        <section class="l-home b-about clrfix">
            <div class="l-col l-devide">
                <h2>What is LocoChat?</h2>
                <p class="left">LocoChat is a dynamic chat room generator, connecting you to other people near your location.</p>
                <p class="left">Because it's a web service LocoChat is available anywhere there's internet, whether it's a 60" monitor in your office or on your smart phone. That's what makes it so magical.</p>
            </div>
            <div class="l-col l-devide">
                <h2>Why LocoChat?</h2>
                <p class="e-list"><span>Zero downloads.  Zero installs.  Available anywhere.</span><br />
                    <span>Easy setup and configuration.  Get started in 5 seconds.</span><br />
                    <span>Instant notification of messages -- it really is real-time!.</span><br />
                    <span>Supreme gratification communicating with those nearby.</span><br />
                    <span>Too shy to say hi? Use LocoChat; you'll easily get by!</span>
                </p>
            </div>
        </section>
        <section class="l-home l-devide b-customers clrfix">
            <h2>LocoChat Buzz</h2>
            <div class="l-col">
                <header>
                        <img src="images/logos/main-trapper-markelz.jpg" width="82" height="60" alt="" />
                </header>
                <article><p>“I've encountered so many situations in which built a lot of KPI dashboards over the years for various companies. No one has made it easier than LocoChat to bring all of the metrics that matter most to chat rooms into one place and present them in a visually compelling way. Love it!”</p></article>
                <footer>Tony Back Ho<br /></footer>
            </div>
            <div class="l-col">
                <header>
                    <img src="images/logos/main-jasper.jpg" width="82" height="60" alt="" />
                </header>
                <article><p>“The signup process on LocoChat was seamless. It literally took me a couple seconds to get on board, and then it was simply magic that led me through its extravagant experience. The seamless integration with Now.JS makes the application blazing fast, providing real-time response, even during heavy loads. Its file upload, photo upload, and video upload system allow me to share my content with ease, and send it to people in the near vicinity. Completely takes out the boredom of sitting in a class or looking for some quick entertainment. Absolutely love it and will definitely use it for other projects without a doubt!”</p></article>
                <footer>Ritik van der Malhotra<br /></footer>
            </div>
        </section>
        <section class="l-home l-devide b-gallery clrfix">
            <h2>Live Screenshots!</h2>
            <div class="l-col">
                <a href="null" target="_blank"><img src="images/popups/live-dashboard.png" width="226" height="226" alt="" /></a>
            </div>
            <div class="l-col">
                <img src="images/popups/preview-1.png" width="226" height="226" alt="" />
                <a class="btn-plus" href="#"><img src="images/btn-gallery.png" width="40" height="40" alt=""></a>
            </div>
            <div class="l-col">
                <img src="images/popups/preview-2.png" width="226" height="226" alt="" />
                <a class="btn-plus" href="#"><img src="images/btn-gallery.png" width="40" height="40" alt=""></a>
            </div>
            <div class="l-col">
                <img src="images/popups/preview-3.png" width="226" height="226" alt="" />
                <a class="btn-plus" href="#"><img src="images/btn-gallery.png" width="40" height="40" alt=""></a>
            </div>
        </section>
        <section class="l-home l-devide clrfix">
            <div class="b-intro-trial">
                <h3>Start using LocoChat within seconds!</h3>
                <input type="submit" class="button btn-plans plans-and-pricing" value="" />
            </div>
        </section>
    </div>
</div>
<div id="popup-video-1" style="display:none;">
    <iframe src="http://player.vimeo.com/video/18996339?title=0&byline=0&portrait=0" width="600" height="338" frameborder="0"></iframe></iframe>
</div>
<div id="popup-video-2" style="display:none;">
    <iframe src="http://player.vimeo.com/video/19006092?title=0&byline=0&portrait=0" width="600" height="338" frameborder="0"></iframe>
</div>
<div id="popup-video-3" style="display:none;">
    <iframe src="http://player.vimeo.com/video/18784105?title=0&byline=0&portrait=0" width="600" height="338" frameborder="0"></iframe>
</div>
<div id="popup-img-1" style="display:none;">
    <img src="images/popups/image-1.png">
</div>
<div id="popup-img-2" style="display:none;">
    <img src="images/popups/image-2.png">
</div>
<div id="popup-img-3" style="display:none;">
    <img src="images/popups/image-3.png">
</div><footer>
	<section>
		<p>Copyright © 2011 LocoChat. All rights reserved.</p>
	</section>
</footer>

</body>
</html>
<!-- Localized -->