h1= title
p Welcome to #{title}

.clearfix
  #canvas-area
    //canvas#radar(width=480, height=480)
    //canvas#radar(width=1000, height=1000)
    #map-canvas(style="width:1000px;height:1000px")
    #popup-messages
  #messages
    textarea#chat(placeholder="Type here and press enter to chat&hellip;")
    ul#message-list
      li Hello world!
      li Hello world!
      li Hello world!
      li Hello world!

script

  Locochat.init(#{params.userId});
