h1= title
p Welcome to #{title}

.clearfix
  #canvas-area
    canvas#radar(width=480, height=480)
    #popup-messages
  #messages
    ul#message-list
      li Hello world!
      li Hello world!
      li Hello world!
      li Hello world!

script

  Locochat.init(#{params.userId});
