center
  .clearfix
    #canvas-area
      //canvas#radar(width=480, height=480)
      //canvas#radar(width=1000, height=1000)
      #map-canvas(style="width:680px;height:700px")
      #popup-messages
    #messages
      form#theform
        textarea#chat(placeholder="Type here and press enter to chat&hellip;")
        input#fileup(type="file")
      ul#message-list

script

  Locochat.init(#{params.userId});
