!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js')
    script(src='/javascripts/class.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/events.js')

    script(src='/javascripts/script.js')
  body!= body
