/**
* @package Package 
* @subpackage Subpackage
* @version 0.0
* @lastmodified July 19, 2010
* @author Kuzzy <kuzzzy@gmail.com>
*/

@import "reset.css";
@import "buttons.css";
@import "top-bar.css";

#radar {
  width: 480px;
  float: left;
}

#chat {
  width: 100%;
  font-family: sans-serif;
}

#canvas-area {
  position: relative;
}

/*** Branding ***/ 
body {font:normal 14px/1.4 Arial, Helvetica, sans-serif; color:#484848; background:#fff;}

/**
* @section Links
*/
a:link{text-decoration:none; color:#41a3c3;}
a:visited{text-decoration:none; color:#41a3c3;}
a:hover{text-decoration:underline; color:#41a3c3; }
a:active{text-decoration:underline; color:#41a3c3;}

a.lnk-ext:before {content:url(../images/ico-lnk-ext.gif); margin-right:4px;}
a.lnk-dotted {border-bottom:1px dotted;}
a.lnk-dotted:hover {text-decoration:none; border:0;}

/**
* @section Headings
*/
h1, h2, h3, h4, h5, h6 {color:#1f1f1f;}
h1 {font-size:60px; line-height:1;}
h2 {font-size:36px; line-height:1; padding-top:7px;}
h3 {font-size:24px; color:#484848;text-shadow:1px 1px 1px #fff; font-weight:100; letter-spacing:-0.02em;}
h4 {font-size:1.6em;}
h5 {font-size:1.4em;}
h6 {font-size:1.2em;}

/**
* @section Typography
*/
p {margin-bottom:1em; text-shadow:1px 1px 1px #fff;}
ul {margin: 0 0.5em 1.2em 2.5em; list-style:disc;}
ol {margin: 0 0.5em 1.2em 2.8em; list-style:decimal;}
ul.nav, ol.nav {margin:0; list-style:none;}

.l-content-main h1, .l-content-main h2 {color:#343738;}
.l-content-main h1 {font-size:36px; font-family:HelveticaNeue ,Arial, Helvetica, sans-serif; margin-bottom:0.6em; line-height:1;}
.l-content-main h2 {font-size:14px; color:#77ab13; text-transform:uppercase; margin-bottom:1em;}
.l-content-main h3 {font-size:14px; margin-bottom:1em;}
.l-content-main header p {font-size:14px;}
.l-content-main section p {font-size:12px; line-height:170%; margin-bottom:2.1em;}
.l-content-main ul {list-style:none; margin-bottom:2.1em;}
.l-content-main ul li {background:url(../images/bullet.png) no-repeat 0 4px; padding-left:17px; font-size:12px; font-style:italic; margin-bottom:3px;}
.l-content-main ol {list-style:lower-alpha; margin-bottom:2.1em; padding-left:17px; }
.l-content-main ol.decimal {list-style:decimal; margin-bottom:2.1em; padding-left:17px; }
.l-content-main ol li {font-size:12px; margin-bottom:3px;}
.l-content-main hr {height: 1px; border: 0px; background: #ccc; margin: 10px 0px}

/**
 * Position
*/
.absolute {position: absolute}
.relative {position: relative}
.right {float: right}
.none {display: none}

/**
* @section Footerstick
*/
html, body {height:100%;}
.l-main-container {min-height:100%; position:relative; min-width:990px; background:url(../images/bg-main.gif) repeat 0 0;}
	.l-wrapper {padding-bottom:129px; background:url(../images/radial-grad.png) no-repeat 50% 34px;}
body > footer {margin-top:-129px; height:129px; position:relative; min-width:990px;}


/**
* @section Main Layouts
* @subsection Two Column Layout
*/
.l-container {
    width:964px;
    margin:0 auto;
    background:#fff url(../images/side-border.gif) repeat-y 100% 0;
    -moz-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    -webkit-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    -box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    margin-top:25px;
    margin-bottom:60px;
}
.l-main {
    float:left; /* Must be opposed to the Sidebar position */
    margin-right:-246px; /* Must be equal to the Sidebar width */
    width:100%;
}
.l-content {
    margin-right:246px; /* Must be equal to the Sidebar width */
    padding:24px 20px;
}
.l-sidebar {
    float:right; /* Sidebar position (left or right) */
    width:206px; /* Sidebar fixed width */
    padding:24px 20px;
}
.l-content-main > article {
    background: #fff;     
    -moz-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    -webkit-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    -box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    margin-top:25px;
    margin-bottom:60px;
    padding:24px 20px;
}
.l-content-main.box {width: 600px;}


.l-home {width:964px; margin:0 auto; margin-bottom:25px;}
.l-home p {font-size:18px;}
.l-devide {background:url(../images/devider-hor.gif) repeat-x 0 0; padding-top:25px;}

.l-container h3 {font-weight:800; color:#77ab13;}

/**
* @section Footer
*/
body > footer {background:#f2f2f2 url(../images/bg-foot.gif) repeat-x 0 0; text-align:center;}
	body > footer section {padding-top:44px;}
		body > footer nav {color:#c6c6c6; margin-bottom:12px;}
			body > footer nav a {margin:0 6px;}
			body > footer nav a.active {color:#92bc42;}
		body > footer p {color:#606060; font-size:12px;}

/**
* @section Intro
*/
.l-home-intro {width:984px; margin:0 auto; text-align:center; margin-bottom:30px;}
	.l-home-intro h1 { margin-bottom:7px;}
	.l-home-intro p {font-size:24px; letter-spacing:-0.02em; line-height:1.22; margin-bottom:10px; margin-top:-2px;}
	.img-intro {margin-left:-10px; display:block;}
	.b-intro-trial {text-align:center; margin-top:-10px;}
		.b-intro-trial h3 {margin-bottom:0.5em;}
		.b-intro-trial .button {margin-bottom:7px;}	
		.b-intro-trial .button + img {display:block; margin:0 auto; padding-left:65px;}
		
/**
* @section About
*/
.b-about {
  position: relative;
  top: 0px;
}
	.b-about .l-col {float:left; width:472px; text-align:center;}
	.b-about .l-col:first-child {margin-right:20px;}
	.b-about .l-col p {letter-spacing:-0.02em; color:#484848;}
        .b-about .l-col p.left {text-align: left}
	.b-about .l-col h2 {margin-bottom:0.2em; font-family: 'Arvo', serif; font-style: bold;}

.b-vendors {}
	.b-vendors h2 {text-align:center; margin-bottom:0.2em;}
	.b-vendors h2:after {content:url(../images/text-more-soon.png); margin-left:7px; top:-7px; position:relative;}
	.b-vendors-logos img { float:left; margin-left:20px; margin-bottom:13px;}
	.b-vendors-logos {margin-left:-20px; margin-bottom:35px;}
	.b-vendors-logos + p {width:636px; margin:0 auto; text-align:center; letter-spacing:-0.02em; padding-top:5px;}
	
.b-video {}
	.b-video h2 {text-align:center; margin-bottom:0.4em;}
	.b-video .l-col {float:left; width:308px; margin-left:20px; text-align:center; padding-top:10px;}
	.b-video h2 + .l-col {margin-left:0;}
	.b-video .l-col .video-preview {width: 308px; height: 231px; margin-bottom:0.7em; cursor: pointer; background: url(../images/popups/video.png)}
        .b-video .l-col .video-preview:hover {background: url(../images/popups/video-over.png)}
	
.b-customers {}
	.b-customers h2 {text-align:center; margin-bottom:20px; font-family: 'Arvo', serif;}
	.b-customers .l-col {float:left; text-align:center; width:472px; margin-left:20px;}
	.b-customers h2 + .l-col {margin:0;}
		.b-customers .l-col header {background:url(../images/dots-hor.gif) repeat-x 0 50%; margin-bottom:7px;}
		.b-customers .l-col article {font-style:italic; min-height:100px;}
		.b-customers .l-col footer {color:#606060; text-shadow:1px 1px 1px #fff; font-size:14px; margin-bottom:20px;}
		
.b-gallery {}	
	.b-gallery h2 { text-align:center; margin-bottom:17px; font-family: 'Arvo', serif; }
	.b-gallery .l-col {float:left; width:226px; position:relative; margin-left:20px; margin-bottom:20px;}
	.b-gallery h2 +.l-col { margin-left:0;}
	.b-gallery  .btn-plus { position:absolute; top:-14px; right:10px; z-index:10;}


/**
* @section Plans and Pricing
*/
.l-pricing {width:964px; margin:0 auto; text-align:center; margin-bottom:30px;}	
	
	
.b-pricing { margin-bottom:39px; margin-top:0; text-align:center;}
	.b-pricing p {font-size:24px; letter-spacing:-0.02em; margin-bottom:40px; margin-top:2px;}
	.b-plan-desk {float:left; width:244px; text-align:right; display:table;}
		.b-plan-desk header { color:#9c9c9c; display:table-row; height: 40px}
                .b-plan-desk article {}
                        .b-plan-desk article li {padding:12px 20px; line-height:1; background:#f6f6f6; font-size:12px; line-height: 16px}
                                .b-plan-desk article li a, .b-plan-desk article li a:visited {font-size:12px; line-height: 16px; color:#484848; cursor:help; border-bottom:1px dotted #c6c6c6;}
                                .b-plan-desk article li a:hover {text-decoration:none; border:0;}
                        .b-plan-desk article li.odd {background:#f0f0f0;}
	.b-plan-item {float:left; width:180px;}
		.b-plan-item header {}
			.b-plan-item header p {font-size:12px; margin-bottom:0; text-shadow:1px -1px 0 #6e6e6e;}
				.b-plan-item header p span {color:#fff;}
				.b-plan-item header p b {color:#f9e196; font-weight:normal;}
		.b-plan-item article {overflow:hidden;}
			.b-plan-item article li {font-size:14px; line-height:40px; height:40px; text-shadow:1px 1px 1px #fff; font-weight:bold;}
			.b-plan-item article li img {padding-top:12px;}
		.b-plan-item footer {height:50px; border-bottom:1px solid; padding:10px 20px 9px; overflow:hidden;}	
        /*** S PLAN ***/
        .b-plan-item.b-s header { background:url(../images/price-head-s.jpg) no-repeat 0 0; height:40px;}
	.b-plan-item.b-s li {background:#DDF4B1}
	.b-plan-item.b-s li.odd {background:#D0E9A2}
	.b-plan-item.b-s footer {background:#D0E9A2; border-color:#bed98a;}
        /*** M PLAN ***/
        .b-plan-item.b-m header { background:url(../images/price-head-m.jpg) no-repeat 0 0; height:40px;}
	.b-plan-item.b-m li {background:#C6F4B1}
	.b-plan-item.b-m li.odd {background:#B8E9A2}
	.b-plan-item.b-m footer {background:#B8E9A2; border-color:#A4D98A;}
        /*** L PLAN ***/
        .b-plan-item.b-l header { background:url(../images/price-head-l.jpg) no-repeat 0 0; height:40px;}
	.b-plan-item.b-l li {background:#B1F4DF}
	.b-plan-item.b-l li.odd {background:#A2E9D3}
	.b-plan-item.b-l footer {background:#A2E9D3; border-color:#8ACBD9;}
        /*** XL PLAN ***/
        .b-plan-item.b-xl header { background:url(../images/price-head-xl.jpg) no-repeat 0 0; height:40px;}
	.b-plan-item.b-xl li {background:#B1E7F4}
	.b-plan-item.b-xl li.odd {background:#A2DBE9}
	.b-plan-item.b-xl footer {background:#A2DBE9; border-color:#8ACBD9;}

        .b-plan-footer {float: right; width: 680px; padding: 20px; background: #F0F0F0; border-bottom: 1px solid #D8D8D8; text-align: left; font: 14px/20px Arial;}
        .b-plan-footer p {font: 14px/20px Arial; margin: 0px 0px 20px}


        .b-pricing-cols {margin-bottom:40px;}
        .b-pricing-cols.l-devide {padding-top:15px;}
                .b-pricing-cols .l-col {float:left; width:23%; margin-left:2%;}
                .b-pricing-cols .l-col:first-child {width:24%; margin-left:0; padding-right:1%;}
                .b-pricing-cols .l-col:first-child + .l-col {width:24%; margin-left:1%;}
                        .b-pricing-cols h4 {color:#77ab13; font-size:16px; margin-bottom:0.5em;}
                        .b-pricing-cols p {font-size:12px; line-height:1.6;}

/**
* @section Your plan 
*/
.b-plans-section {padding: 30px 20px}
.b-plans-table {width: 100%;  font-size: 14px; line-height: 16px; margin-bottom: 30px}
.b-plans-table tr.current td {background: #FFF6D9}
.b-plans-table th, .b-plans-table td {border-bottom: 1px solid #DDDDDD; vertical-align: middle; text-align: center;}
.b-plans-table th {background: #F5F5F5; color: #6B6B6B; font-weight: normal; font-size: 12px; padding: 9px;}
.b-plans-table td {color: #484848; font-size: 14px; padding: 10px;}
    .b-plans-table td.plan {font-weight: bold; min-width: 20px}
    .b-plans-table td.price {font-weight: bold; color: #77AB13; width: 20px}
    .b-plans-table td.status {color: #77AB13}
.b-cancel-plan {}
    .b-cancel-plan h2 {font: bold 18px Arial; color: #77AB13; margin-bottom: 15px }
    .b-cancel-plan article p {margin-bottom: 30px}
    .b-cancel-plan article #cancel-account {border-bottom: 1px dotted #41A3C3}
    .b-cancel-plan article #cancel-account:hover {border-bottom: 1px dotted #41A3C3; text-decoration: none}
    .b-cancel-plan .warning {margin-top: 15px; display: none}

/**
* @section Sharing URLs 
*/
.b-sharing-urls {padding:32px 20px;}
    .b-sharing-urls h2 {font: bold 18px Arial; color: #77AB13; margin-bottom: 15px}
    .b-sharing-urls .header-text {width: 100%}
        .b-sharing-urls .header-text td {width: 50%; padding: 5px 0px 25px 10px; border-bottom: 1px solid #C6C6C6}
        .b-sharing-urls .header-text td:first-child {padding: 5px 10px 25px 0px;}
    .b-sharing-urls .b-read-only {padding: 25px 0px}
        .b-sharing-urls .b-read-only > ul {margin: 0}
            .b-sharing-urls .b-read-only > ul > li {list-style: none; padding: 7px 0px; background: url('../images/dots-hor.gif') repeat-x top}
            .b-sharing-urls .b-read-only > ul > li > a {display: inline-block; height: 25px; background: url('../images/bull-dashboard.png') no-repeat top left; padding-left: 30px; font: bold 14px/25px Arial; color: #484848; text-decoration: none; }
            .b-sharing-urls .b-read-only > ul > li.active > a {background: url('../images/bull-dashboard.png') no-repeat bottom left;}
            .b-sharing-urls .b-read-only > ul > li > ul {margin: 7px 0 0 0px; background: url('../images/dots-hor.gif') repeat-x top; display: none}
            .b-sharing-urls .b-read-only > ul > li > ul > li {list-style: none; padding: 7px 0px 0px; margin-left: 30px; line-height: 25px}
            .b-sharing-urls .b-read-only > ul > li > ul > li:first-child {padding: 7px 0px; background: url('../images/dots-hor.gif') repeat-x bottom;}
            .b-sharing-urls .b-read-only > ul > li.active > ul {display: block}

        .b-sharing-urls .b-loop { border-top: 1px solid #C6C6C6; padding: 25px 0px 0px 0px}
        .b-sharing-urls .b-loop table {width: 100%}
            .b-sharing-urls .b-loop table td {text-align: right; font: bold 12px Arial}
            .b-sharing-urls .b-loop table td:first-child {text-align: left}
            .b-sharing-urls .b-loop table td select {margin-left: 10px}

        .b-sharing-urls .b-loop > ul {margin: 0}
            .b-sharing-urls .b-loop > ul > li {list-style: none; padding: 15px 0px 0px 0px; background: url('../images/dots-hor.gif') repeat-x top; line-height: 25px}
            .b-sharing-urls .b-loop > ul > li:first-child { padding: 15px 0px}
            .b-sharing-urls .b-loop > ul > li span {display: block; font: bold 14px Arial}
            .b-sharing-urls .btn-change-green.switch-sharing-loop {position: relative;top:10px;}
            .b-sharing-urls .btn-negative.switch-sharing-loop {position: relative;top:10px;}
/**
* @section People Say
*/	
.b-people-say {}
	.b-people-say article {border-top:1px dotted #ddd; padding-top:15px; line-height:1.43;}
	.b-people-say article:first-child {border:0; padding-top:17px;}
		.b-people-say article blockquote {font-style:italic; color:#484848; margin-bottom:11px;}
			.b-people-say article blockquote img {padding:0px 0px 5px 5px}
		.b-people-say article p {font-size:12px; color:#929292; line-height:1.7;}
		
/**
* @section Sign Up form
*/
.f-row {margin-bottom:15px;}
    .f-row img {vertical-align: middle}
.f-sep {border-bottom:1px dotted #ddd; padding-bottom:20px;}
.f-note {font-size:12px; color:#929292;}
.textbox { border:1px solid; border-color:#9a9a9a #dadada #e4e4e4 #dadada; background:#fafafa; padding:8px 10px 9px; outline:none;}

.l-sign-in {width:964px; margin:0 auto; margin-bottom:30px;}
	.l-sign-in h1 {text-align:center; margin-bottom:17px;}

.f-sign-up {}
	.f-sign-up h3 {margin-left:18px; margin-bottom:9px;}
	.f-sign-up h3:before {content:url(../images/bull-2.png); position:relative; bottom:-8px; margin-right:10px;}
	.f-sign-up h3:first-child {margin-top:-9px; margin-bottom:17px;}
	.f-sign-up h3:first-child:before {content:url(../images/bull-1.png);}
	
	.f-sign-up fieldset {border-bottom:1px solid #c6c6c6; padding:0 0 15px 62px; margin-bottom:15px;}
		.f-sign-up .f-row .textbox {width:286px; margin-right:15px;}
                .f-sign-up .f-row .country {width:310px; margin-right:15px;}
                .f-sign-up .f-row .month {width: 200px}
                .f-sign-up .f-row .year {width: 90px}
                .f-sign-up .f-row .cvv {width:50px;}
		.f-sign-up .f-row label {display:block; color:#484848; margin-bottom:5px;}
		.f-sign-up .f-row label span {font-size:12px; color:#929292;}
		.f-sign-up .f-inline label {display:inline;}	
		.f-sign-up fieldset p.x-small {margin-bottom:1.4em; line-height:1.6; margin-top:-3px;}
	
	.f-sign-up .f-inline {margin-left:-40px;}
		.f-sign-up .f-inline .textbox {margin-right:10px;}
	
	.f-sign-up footer {padding-left:62px;} 
		.f-sign-up footer p {margin-bottom:1.7em;}
		.f-sign-up footer label {font-size:12px;}
	
.f-sign-up h3.b-billing-header {margin-bottom:9px;}	
.f-sign-up h3.b-billing-header:before {content:url(../images/bull-3.png);}
.f-sign-up h3.b-billing-header:after {content:url(../images/ico-lock.png); margin-left:10px;}
.b-billing-intro {font-size:12px; margin-bottom:1.6em;}

/**
* @section Account
*/
.l-account {
	background:#fff;
	margin:12px auto 60px;
	width:840px;
	-moz-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
	-webkit-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
	-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;	
}
.nav-account {background:url(../images/bg-tabs.gif) repeat-x 0 0; padding-top:10px; overflow:hidden; height:35px;}
    .nav-account li {
        float:left;
        margin-left:10px;
        padding:5px 20px 10px;
    }
    .nav-account li.active {
        background:#fff;
        -moz-box-shadow:1px -1px 1px #6d9c11, -1px 0 1px #6d9c11;
        -webkit-box-shadow:1px -1px 1px #6d9c11, -1px 0 1px #6d9c11;
        -box-shadow:1px -1px 1px #6d9c11, -1px 0 1px #6d9c11;
    }
    .nav-account li a, .nav-account li a:visited {color:#fff; font-weight:800; text-shadow:0 -1px 1px #53780d;}
    .nav-account li.active a, .nav-account li.active a:visited {color:#77ab13; text-shadow:none;}
.b-account { padding:32px 20px;}
/**
* @section My Details Form 
*/
.f-details {}
	.f-details .f-row {}		
		.f-details .f-row {padding-top:3px;}	
		.f-details .f-row label {display:inline-block; margin-right:16px; text-align:right; width:144px; vertical-align:top;}
                .f-details .f-row .info {display:inline-block; width: 500px}
		.f-details .f-row .textbox {width:204px;}
		.f-details fieldset {padding-top: 20px}
			.f-details fieldset .f-row {padding-top:0;}
		.f-details .btn-change {margin-top:-4px;}
		.f-details .f-btn {padding-left:164px; padding-top:5px;}
			.f-details .f-btn span {font-size:13px; margin-left:4px;}
                .f-details .textbox:focus {border-color:#77ab13;}
		.f-help {position:relative;}
		.f-help .textbox {border-color:#77ab13;}
		.f-tip {position:absolute; left:402px; top:0; width:318px; font-size:11px; text-decoration:none; font-weight:normal; z-index:100;}
		.f-tip .f-tip-crnr { background:url(../images/crnr-tip.png) no-repeat 0 0; width:9px; height:19px; font-size:0; margin-right:-1px; position:relative; float:left; margin-top:7px;}
		.f-tip .f-tip-i {background:#fff6d9; color:#343738; padding:8px 9px 10px; float:left; width:288px; border-bottom:1px solid #eedda2; border-left:1px solid #fdf3d2; border-right:1px solid #fdf3d2;}

/**
* @section Invoices
*/
.b-invoices { margin-top:-8px;}
	.b-invoices h3 {font-weight:bold; color:#77ab13; margin-bottom:6px;}
	.b-invoices aside {float:left; width:245px; border-right:1px solid #ddd;}
		.nav-invoices-tabs {margin-bottom:12px;}
			.nav-invoices-tabs li {border-bottom:1px dotted #ddd; padding:10px 0; background:#fff; cursor:pointer;}
			.nav-invoices-tabs li:first-child {border-top:1px dotted #ddd;}
				.nav-invoices-tabs li span {float:left; width:100px;}
				.nav-invoices-tabs li a {float:right; text-align:right; width:105px; padding:0 20px;}
			.nav-invoices-tabs li.active {margin-right:-1px; font-weight:bold;}	
				.nav-invoices-tabs li.active a {color:#77ab13;}
	.b-ivoices-body {float:right; width:534px; padding:0 0 0 20px;}
		.b-ivoices-body h3 {margin-bottom:17px;}
		.tbl-invoices { border-bottom:1px solid #ddd; margin-bottom:10px; margin-top:17px; width: 100%}
			.tbl-invoices th, .tbl-invoices td {padding:5px 0;}
			.tbl-invoices thead th {text-align:left; color:#77ab13; font-weight:normal; border-bottom:1px solid #ddd; font-size:12px;}
			.tbl-invoices > tbody td { font-size:12px; border-bottom:1px dotted #ddd; line-height:1.6; padding:6px 0 12px;}
			.tbl-invoices > tbody td:first-child {white-space:nowrap; padding-right:80px;}
			.tbl-invoices > tbody td:first-child + td {padding-right:40px;}

                        .tbl-invoices tfoot td table {float:right; margin-bottom:25px;}
			.tbl-invoices tfoot td td {font-size:12px; text-align:right; border-bottom:1px dotted #ddd; padding-left:40px;}
			.tbl-invoices tfoot td th  {text-align:right; border-bottom:1px dotted #ddd; padding-left:40px;}
			.tbl-invoices tfoot td td:first-child, .tbl-invoices tfoot td th:first-child {padding-left:0;}
                        .tbl-invoices tfoot td.info {font-size: 12px}
		.tbl-invoices + p.x-small {line-height:1.7;}	

/**
* Global Styles
*
* @section Global
*/	
.g-nobg {background:none !important;}
.g-a-left {text-align:left !important;}
.g-a-right {text-align:right !important;}
.g-a-center {text-align:center !important;}
.g-upper {text-transform:uppercase;}
.g-noborder {border:0 !important;}
.x-small {font-size:12px;}

.e-list span {background:url(../images/bull-home.png) no-repeat 0 0; padding-left:25px;}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
	h3, .b-pricing p, .l-home-intro h1 + p, .b-about .l-col p, .b-vendors-logos + p {letter-spacing:-0.05em;}
	.f-details fieldset .f-row {margin-top:-4px;}
	.nav-account li {padding-top:6px;}
	.f-tip {top:2px;}
	.f-sign-up .f-row label {margin-bottom:3px;}
	.f-sign-up .f-row {margin-bottom:14px;}
   
}

.l-page {width:964px; margin:0 auto;}	
.b-page-name {text-align:center; padding-top:64px; font-family: 'Arvo', serif; font-size: 150px;
text-shadow: 3px 3px 3px white; letter-spacing: -0.03em; color: #575757}
	.b-page-name img {display:block; margin:0 auto;}

.simplemodal-data {padding: 10px; background: #ffffff; border: 1px solid #ccc}

.login-box {
    background: #fff;
    -moz-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    -webkit-box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    -box-shadow:1px 2px 2px #cecece, -1px 0 2px #cecece;
    margin-top:25px;
    margin-bottom:60px;
    padding:24px 20px;
    width: 360px;
}
.login-box > header {border-bottom:1px solid #f3f3f3; margin-bottom:20px; padding-bottom: 5px;}
.login-box > header h2 {text-transform:uppercase; font-size:14px; color:#77ab13; padding-bottom:4px; float:left; margin-bottom: 0; padding-top: 0}
.login-box > header nav {float:right; font-size:12px;}

.login-box section {margin-bottom: 15px;}
.login-box .f-login-box {margin-bottom: 20px;}
.login-box .f-login-box .f-row {text-align: right}
.login-box .f-login-box	label {display:inline-block;}
.login-box .f-login-box	.textbox {width: 225px; margin-left: 20px}
.login-box .f-btn-box {float:right; width:249px;}

/** Error **/
.f-error-msg { background:#e6bb38 url(../images/ico_error.gif) no-repeat 10px 50%; color:#fff; padding:15px 20px 15px 60px; font-size:12px; line-height:160%;}
    .f-error-msg p {margin-bottom:0; padding-top:5px;}
    .f-error-fld {border:1px solid #ae432e;}
    .b-error-fld-msg{background:#ae432e; color:#fff;width: 286px; padding: 8px 11px 9px;}
.f-error-signup {margin: 0 0 15px 15px}
.f-error-account {margin: 0 0 20px 0}
/** Success **/
.f-success-msg {border:1px solid #AED95E; padding:10px; font-size:12px; line-height:160%; margin-bottom: 20px}

/**
 * Forgot password
 */
#forgot-simplemodal-data {padding: 0; border: 0;}
#forgot-simplemodal-data section {margin-bottom: 15px; font-size:12px;}
#forgot-simplemodal-data .f-btn-box {margin: 0}

.f-full { display:inline-block;}
.f-full.none {display:none}
.f-full .f-btn {padding-left:0;}
.f-full .textbox {margin-bottom:10px;}

/**
 * Tooltips css
 */
ins.b-tip {position:absolute; right:-185px; top:-10px; width:180px; font-size:11px; text-decoration:none; font-weight:normal; z-index:100; display:none;}
    ins.b-tip .b-tip-crnr { background:url(../images/crnr-tip-price.png) no-repeat 0 0; width:9px; height:19px; font-size:0; margin-right:-1px; position:relative; float:left; margin-top:7px;}
    ins.b-tip .b-tip-i {
        font: 11px/14px Arial,Helvetica,sans-serif;
        background:#FFF6D9; border:1px solid #F9EDC6;
        padding:6px 10px; float:left; width:150px;
        -moz-box-shadow:0 1px 3px #000; -webkit-box-shadow:0 1px 3px #000; box-shadow:0 1px 3px #000;
        color:#343738; text-shadow: 0px 0px 0px #FFFFFF; text-align: left; letter-spacing: 0;
    }
ins.place-1 {top: 95px; right: -135px}
ins.place-2 {top: 105px; right: -115px}
ins.place-3 {top: 2px}

/**
 * Registration preloader
 */
 .b-reg-preloader{ padding-left: 10px;}
 .b-reg-preloader img{margin-right: 10px;}
/* Localized */