/**
* @package GeckoBoard 
* @subpackage Top Bar Stylesheet
* @version 0.4
* @lastmodified April 28, 2010
* @author Kuzzy <kuzzzy@gmail.com>
*/

/**
* All pages top bar with logo amd navigation
*
* @section Top bar
*/ 
.l-header-inner {margin:0 auto; width:964px;}
.b-top-bar {height:34px; padding:0 1px; background:url(../images/bg-head.gif) repeat-x 0 0;}
	.b-top-bar__logo {float:left; padding-top:10px; width:180px; }
	.b-top-bar nav {float:right; font:normal 11px Tahoma, Geneva, sans-serif; margin-right:-16px; white-space:nowrap;}
		.b-top-bar nav li {float:left; padding:0 6px;}
		.b-top-bar nav li.last {background:url(../images/sep_topbar.gif) no-repeat 0 11px; padding:0 6px 0px 7px;}
			.b-top-bar nav li a, .b-top-bar nav li a:visited {border-top:3px solid #1e1e1e; color:#AAAAAA; display:inline-block; padding:8px 0 7px; text-decoration:none;}
			.b-top-bar nav li a:hover {text-decoration:underline; color: #FFFFFF}
			.b-top-bar nav li.active a, .b-top-bar nav li.active a:visited {background:url(../images/topbar-lnk-shadow.gif) repeat-x 0 0; border-color:#77ab13; color:#77ab13;}
.b-top-bar.m-expand {height:5px; background: #232526}
.b-top-bar.m-expand .b-top-bar__logo {display:none;}
.b-top-bar.m-expand nav {display:none;}
/* Localized */