body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#radar {
  width: 480px;
  float: left;
}
#messages {
  width: 300px;
  float: left;
}

#canvas-area {
  position: relative;
}

.popup-message {
  background-color: #555;
  color: white;
}
